{{ define "footer" }}
<div class="footer">
  <div>

  </div>
  <div>
    <a class="footer-icon" href="https://github.com/AdamShk123">
      <img src="/static/images/github.svg" alt="github" />
    </a>
    <a class="footer-icon" href="https://www.linkedin.com/in/adamshkolnik/">
      <img src="/static/images/linkedin.svg" alt="linkedin" />
    </a>
    <a class="footer-icon" href="mailto:adam.shkolnik@outlook.com">
      <img src="/static/images/email.svg" alt="email" />
    </a>
  </div>
  <div>
    &copy; Adam Shkolnik 2025
  </div>
</div>
{{ end }}
