@import "header.css";
@import "footer.css";
@import "form.css";
@import "login-bar.css";
@import "about.css";

h1, h2, h3, h4, h5, h6, p, label {
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  margin-top: 70px;
}

.main p {
  font-size: 18px
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/static/images/background.png');
}

a {
  text-decoration: none;
}

li {
  color: var(--text);
}
