{{ template "base.start" . }}
<div class="main">
    <div class="about">
        <h1>Hello, I'm Adam Shkolnik</h1>
        <p>
            I am a software engineer.
            I am experienced in multiple areas of software engineering,
            including front-end development, cloud platforms, and automation.
        </p>
        <div>
            <a href="https://adamshkolnik.com">Download Resume</a>
            <a href="/contact">Contact Me</a>
        </div>
    </div>
    <div class="skills">
        <h1>Skills</h1>
        <div>
            <div>
                <img src="/static/images/angular.svg" alt="Angular Logo"/>
                <h2>Angular</h2>
            </div>
            <div>
                <img src="/static/images/python.svg" alt="Python Logo"/>
                <h2>Python</h2>
            </div>
            <div>
                <img src="/static/images/golang.svg" alt="Go Logo"/>
                <h2>Go</h2>
            </div>
            <div>
                <img src="/static/images/postgres.svg" alt="PostgreSQL Logo"/>
                <h2>PostgreSQL</h2>
            </div>
            <div>
                <img src="/static/images/aws.svg" alt="AWS Logo"/>
                <h2>AWS</h2>
            </div>
            <div>
                <img src="/static/images/gcp.svg" alt="GCP Logo"/>
                <h2>GCP</h2>
            </div>
        </div>
    </div>
    <div class="experience">
        <h1>Experience</h1>
        <div>
            <h2>Federal Reserve Bank of Chicago</h2>
            <p>Computer Science Intern | Jun 2024 - Aug 2024</p>
            <ul>
                <li>
                    Supported the migration to SharePoint Online by recreating automation workflows in Power
                    Automate and transferring Angular sites
                </li>
                <li>
                    Created a proof of concept web interface using React for a project involving centralizing the bank’s
                    APIs into a proxy Azure Function API
                </li>
                <li>
                    Managed AWS S3 buckets by making Python scripts, updating Terraform configuration files, and
                    adding new jobs to the GitLab CI/CD pipelines
                </li>
            </ul>
        </div>
        <div>
            <h2>Chicago Transit Authority</h2>
            <p>Computer Science Intern | Jan 2024 - Apr 2024</p>
            <ul>
                <li>
                    Supported the migration to SharePoint Online by recreating automation workflows in Power
                    Automate and transferring Angular sites
                </li>
                <li>
                    Created a proof of concept web interface using React for a project involving centralizing the bank’s
                    APIs into a proxy Azure Function API
                </li>
                <li>
                    Managed AWS S3 buckets by making Python scripts, updating Terraform configuration files, and
                    adding new jobs to the GitLab CI/CD pipelines
                </li>
            </ul>
        </div>
        <div>
            <h2>Federal Reserve Bank of Chicago</h2>
            <p>Computer Science Intern | Jun 2023 - Aug 2023</p>
            <ul>
                <li>
                    Supported the migration to SharePoint Online by recreating automation workflows in Power
                    Automate and transferring Angular sites
                </li>
                <li>
                    Created a proof of concept web interface using React for a project involving centralizing the bank’s
                    APIs into a proxy Azure Function API
                </li>
                <li>
                    Managed AWS S3 buckets by making Python scripts, updating Terraform configuration files, and
                    adding new jobs to the GitLab CI/CD pipelines
                </li>
            </ul>
        </div>
    </div>
    <div class="education">
        <h1>Education</h1>
        <p>Loyola University Chicago</p>
        <p>B.S in Computer Science | Aug 2021 - Dec 2024</p>
    </div>
    <div class="projects">
        <h1>Projects</h1>
        <p>Portfolio Website | Online Chess</p>
    </div>
</div>
{{ template "base.end" . }}
