{{ template "base.start" . }}
<div class="about">
    <p>Hello, I'm Adam Shkolnik. I am a software engineer.</p>
</div>
<div class="skills">
    <p>Typescript | Angular | Go | HTMX | AWS | GCP | Python | Figma | Docker | SharePoint | PostgreSQL | PowerBI | Terraform </p>
</div>
<div class="experience">
    <p>FRBC | CTA | FRBC</p>
</div>
<div class="education">
    <p>Loyola University Chicago</p>
</div>
<div class="projects">
    <p>Portfolio Website | Online Chess</p>
</div>
{{ template "base.end" . }}
