{{ template "base.start" . }}
<div class="contact-container">
  <div class="contact-form-wrapper" id="contact-form">
    <h1>Contact Me</h1>
    <form hx-swap="innerHTML" hx-target="#contact-form" hx-post="/contact" hx-disabled-elt="find button[type='submit']" hx-indicator="#loading-overlay" class="contact-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="John Doe" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="john.doe@gmail.com" required>
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject" required>
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" placeholder="Your message here..." required
          minlength="50"></textarea>
      </div>

      <div class="form-buttons">
        <button type="reset" class="btn btn-secondary">Clear Form</button>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>
    
    <div id="loading-overlay" class="loading-overlay htmx-indicator">
      <div class="loading-spinner">
        <div class="spinner"></div>
        <span>Sending message...</span>
      </div>
    </div>
  </div>
</div>
{{ template "base.end" . }}
