{{ define "base.start" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adam Shkolnik</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  <script src="/static/js/carousel.js" defer></script>
</head>
<body>

  {{ template "header" .Active }}

  <div class="content">

{{end}}

{{ define "base.end" }}

  </div>

  {{ template "footer" }}

</body>
</html>
{{end}}